*.dSYM/
post.html
webserv
test.cpp
main.cpp
server_test.cpp
test.png
webserver
/.vscode
file.html
image.png
a.out
nginx.conf
# README.md
cmake-build-debug/
./CMakeLists.txt
.idea/
*.mp4
*.png
*.jpeg
*.jpg
*.php
*.o
CMakeLists.txt
exampleOfHeadMethod.txt
transfer-encoding.md
webserv.pdf
cmake-build-debug/
out
php-cgi
.idea/
./idea/*
.DS_Store
file.conf
